/* App.css */

/* Hace que cada sección ocupe toda la pantalla */
section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* Habilita el efecto de scroll por secciones */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Fija el navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Da espacio arriba para que el contenido no quede debajo del navbar */
section {
  padding-top: 70px;
}

/* Transiciones entre section */
section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}